<%- include("../layout/sidebar.ejs") %>

<!-- Content -->
<div class="w-full px-4 sm:px-6 md:px-8 lg:ps-72">
  <!-- your content goes here ... -->
  <!-- Card Section -->
  <div class="max-w-[85rem] px-4 py-4  sm:px-6 lg:px-8 mx-auto">
        <form id="permintaanForm" method="POST" action="/admin/verifikasi">
            <!-- Card -->
            <div class="bg-white rounded-xl shadow" style="margin: 40px;">
                
                <div class="relative h-20 rounded-t-xl bg-no-repeat bg-cover bg-center" style="background-color: #388E3C;">
                  <div class="text-center">
                    <br>
                    <h2 class="text-2xl md:text-3xl font-bold text-white">
                      Formulir Permintaan Surat Keterangan Aktif Kuliah
                    </h2>
                    <br>
                  </div>
                </div>
        
                <div  class="pt-0 p-4 sm:pt-0 sm:p-7">
                  <!-- Grid -->
                  <p style="display: none;" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                  style="background-color:aliceblue;" name="idPermintaan" value="<%= permintaan.idPermintaan %>">
  
                  ID: <%= permintaan.idPermintaan %>
                </p>
                <input type="hidden" name="idPermintaan" value="<%= permintaan.idPermintaan %>">

                  <div class="space-y-4 sm:space-y-6">
                    <div class="space-y-2">
                      <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                        NAMA LENGKAP MAHASISWA/I
                      </label>
                      <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                        style="background-color:aliceblue;">
        
                        <%= mahasiswa.name %>
                      </p>
                    </div>
                    <div class="space-y-2">
                      <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                        NOMOR INDUK MAHASISWA (NIM)
                      </label>
                      <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                        style="background-color:aliceblue;">
        
                        <%= permintaan.nim %>
                      </p>
                    </div>
                    <div class="space-y-2">
                      <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                        DEPARTEMEN
                      </label>
                      <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                        style="background-color:aliceblue;">
        
                        <%= mahasiswa.departemen %>
                      </p>
                    </div>
                    <div class="space-y-2">
                      <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                        Target permintaan surat
                      </label>
                      <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                        style="background-color:aliceblue;">
        
                        <%= permintaan.target %>
                      </p>
                    </div>
                    <div class="space-y-2">
                      <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                        Tujuan permintaan surat
                      </label>
                      <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                        style="background-color:aliceblue;">
        
                        <%= permintaan.tujuan %>
                      </p>
                    </div>
        
                    <% if(permintaan.target !=='Pribadi' ) { %>
                      <div>
                        <div class="space-y-2">
                          <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NAMA ORANG TUA
                          </label>
                          <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                            style="background-color:aliceblue;">
        
                            <%= permintaan.namaOrangtua %>
                          </p>
                        </div>
                        <div class="space-y-2">
                          <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NIP
                          </label>
                          <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                            style="background-color:aliceblue;">
        
                            <%= permintaan.nip %>
                          </p>
                        </div>
                        <div class="space-y-2">
                          <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            PANGKAT DAN GOLONGAN
                          </label>
                          <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                            style="background-color:aliceblue;">
        
                            <%= permintaan.pangkatGolongan %>
                          </p>
                        </div>
                        <div class="space-y-2">
                          <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            UNIT KERJA
                          </label>
                          <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                            style="background-color:aliceblue;">
        
                            <%= permintaan.unitKerja %>
                          </p>
                        </div>
                        <div class="space-y-2">
                          <label class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            INSTANSI INDUK
                          </label>
                          <p class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm text-gray-800"
                            style="background-color:aliceblue;">
        
                            <%= permintaan.instansiInduk %>
                          </p>
                        </div>
                      </div>
                      <% } %>
                    <div class="space-y-2" id="file">
                        <label for="inputFile" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            BERKAS (SK Terakhir Orang Tua dan KRS Terakhir)
                        </label>
                            <div class="mt-2">
                                <a class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none" href="/data/permintaan/<%= permintaan.berkas %>" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
                                    Lihat Berkas
                                </a>
                            </div>                  
                    </div>
                    </div>
                    <!-- End Grid -->

                    <div class="mt-5 flex justify-center gap-x-2">
                        <button type="submit" id="submitButton" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
                            Verifikasi
                        </button>
                        <div id="loadingIndicator" class="hidden">
                            <svg class="animate-spin h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8c0 .76 2.33 1.34 3.54 1.84m2.07.66a8 8 0 011.84 3.54M4.47 16.31a8 8 0 013.54-1.84m2.07-.66a8 8 0 018 8v.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </form>
    </div>
    <!-- End Card Section -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('permintaanForm');
        const submitButton = document.getElementById('submitButton');
        const loadingIndicator = document.getElementById('loadingIndicator');

        form.addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(form);
            const formObject = Object.fromEntries(formData.entries());
            
            try {
                // Show loading indicator
                loadingIndicator.classList.remove('hidden');
                submitButton.disabled = true;

                const response = await fetch(form.action, {
                    method: form.method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formObject)
                });

                const result = await response.json();

                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil',
                        text: result.message,
                        showConfirmButton: false,
                        timer: 1500
                        }).then(() => {
                            window.location.href = '/admin/permintaan-unverified';
                            
                        });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Gagal',
                        text: result.message
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Terjadi kesalahan',
                    text: 'Silakan coba lagi nanti.'
                });
            } finally {
                // Hide loading indicator
                loadingIndicator.classList.add('hidden');
                submitButton.disabled = false;
            }
        });
    });
</script>